<!-- DynamicPercentage.vue -->
<template>
  <div>
    <h1>Dynamic Percentage:</h1>
    <h2>{{ percentage }}%</h2>
  </div>
</template>
<script>
import { ref, onMounted } from 'vue';

export default {
  setup() {
    const percentage = ref(0);

    const fetchPercentage = async () => {
      try {
        const response = await fetch('http://localhost:5000/get_percentage');
        const data = await response.json();
        percentage.value = data.percentage;
      } catch (error) {
        console.error('Error fetching percentage:', error);
      }
    };

    // Panggil fetchPercentage setiap 5 detik
    onMounted(() => {
      fetchPercentage();
      setInterval(fetchPercentage, 5000); // Polling setiap 5 detik
    });

    return {
      percentage
    };
  }
};
</script>

